---
import Logo from "./Logo.astro";
let NavItmes = [
  {path:"/",text:"Home"},{path:"/portfolios",text:"Portfolios"}, {path:"/sessions",text:"Sessions"},{path:"/team",text:"Our Team"},{path:"mailto:and3rsonproductions@gmail.com",text:"Contact"}
]
---

<nav class="top-0 bottom-0 left-0 right-0 z-50 relative">
  <div
    class="hidden sm:flex h-16 items-center w-full fixed bg-white_smoke px-5 justify-between"
  >
    <div class="flex gap-4">
      {NavItmes.map((e)=>{
        return  <a class="hover:underline" href={e.path}>{e.text}</a>
      })}
    </div>
    <div class="h-12 flex items-center px-2">
      <Logo />
    </div>
    <div class="flex gap-4">
      <a
        class="hover:underline"
        href="https://instagram.com/and3rsonproductions">Instagram</a
      >
      <a class="hover:underline" href="https://youtube.com/@and3rsonproductions"
        >Youtube</a
      >
    </div>
  </div>
  <div class="h-16 fixed sm:hidden p-5">
    <p class="menuOpenTrigger">Menu</p>
    <script>
      const menu = document.getElementById("menuMob")
      const els = document.querySelectorAll(".menuOpenTrigger")
      els.forEach((e)=>{
        e.addEventListener('click', () => {
          if (menu) {
          menu.dataset.menu = menu.dataset.menu === "closed" ? "open" : "closed";}
    });
      })
    </script>
  </div>
  <div
  id="menuMob"
    data-menu={"closed"}
    class="w-[100vw] h-[100vh] hidden data-[menu=open]:block fixed"
  >
    <div
      class="flex px-10 items-center h-full md:w-1/2 w-full xl:w-1/4 bg-white_smoke"
    >
      <div>
        <ul class="flex gap-3 uppercase flex-col text-3xl font-extenda_headings">
          {NavItmes.map((e,i)=>{
            return <li>
            <a href={e.path}><sup class=" font-roboto_mono text-xl">({i})</sup>{e.text}</a>
          </li>
          })}
          <li class=" font-black menuClose">CLOSE</li>
          <script>
            const menu = document.getElementById("menuMob")
            const els = document.querySelectorAll(".menuClose")
            els.forEach((e)=>{
              e.addEventListener('click', () => {
                if (menu) {
                menu.dataset.menu = menu.dataset.menu === "closed" ? "open" : "closed";}
          });
            })
          </script>
        </ul>
      </div>
    </div>

  </div>
</nav>
